<mat-card *ngIf="this.order" class="card">
  <mat-card-header class="header-container" >
    <mat-card-title-group class="header-item">
      <mat-card-title>ORDER PLACED</mat-card-title>
      <mat-card-subtitle>{{ this.dateFormatted }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group class="header-item">
      <mat-card-title>TOTAL</mat-card-title>
      <mat-card-subtitle>{{ this.total }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group class="header-item">
      <mat-card-title>SHIPPED TO</mat-card-title>
      <mat-card-subtitle>{{ this.order.address.substring(0, 20) }}{{this.order.address.length > 20? "...": ""}}</mat-card-subtitle>
    </mat-card-title-group >
    <mat-card-title-group class="header-item">
      <mat-card-title>ORDER STATUS</mat-card-title>
      <mat-card-subtitle>{{this.order.orderStatus}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group class="header-item">
      <mat-card-title>ORDER #</mat-card-title>
      <mat-card-subtitle>{{this.order.orderID}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class = "header-content">
    <div *ngFor="let product of products; trackBy: trackProductItem">{{product.name}}</div>
  </mat-card-content>
</mat-card>
