<div *ngIf="cart && cart.length > 0">
  <div class="header">
    <h2>Your Cart</h2>
  </div>
  
  <mat-card><ul>
    <div class="list">
    <li *ngFor="let item of cart">
        <img [src]="item.image" class="img">
        <div class="name-tags">
          <span class="name" matListItemTitle>{{ item.name }}</span>
          <tags-list [tags]="item.tags"></tags-list>
        </div>
        <div class="problemchild">
        <div class="description" matListItemLine>{{item.description}}</div>
      <div class="price">${{ item.price }}</div>
      </div>
    </li>
  </div>
  </ul></mat-card>
<div class="cartTotal">
  <div class="totalLabel">Cart Total:</div>
  <div class="totalValue">${{ totalPrice }}</div>
</div>

<div *ngIf="cart && cart.length === 0">