
<div class="buyerInfo" *ngIf="buyerInfo">
    <h2>{{buyerInfo.firstName}} {{buyerInfo.lastName}} Information</h2>
    <div><span>id: </span>{{buyerInfo.id}}</div>
    <div><span>userid: </span>{{buyerInfo.userId}}</div>

    <div>
        <label for="buyerInfo-firstName">First Name: </label>
        <input id="buyerInfo-firstName" [(ngModel)]="buyerInfo.firstName" placeholder="first name">
    </div>

    <div>
        <label for="buyerInfo-lastName">Last Name: </label>
        <input id="buyerInfo-lastName" [(ngModel)]="buyerInfo.lastName" placeholder="last name">
    </div>

    <div>
        <label for="buyerInfo-phoneNumber">Phone Number: </label>
        <input id="buyerInfo-phoneNumber" [(ngModel)]="buyerInfo.phoneNumber" placeholder="###-###-####">
    </div>


    <h4>Saved Shipping Addresses: </h4>

    <div>
        <label for="new-address">New Shipping Address: </label>
        <input id="new-address" #newShippingAddress />

        <button type="button" class="add-button" (click)="appendShippingAddress(newShippingAddress.value); newShippingAddress.value=''">
            +
        </button>
    </div>

    <mat-list>
        <li *ngFor="let address of buyerInfo.shippingAddresses; let i = index">
            <div>
                <input id="shipping-address" [(ngModel)]="buyerInfo.shippingAddresses[i]" placeholder="shipping address">
                <button type="button" class="delete" title="delete address" (click)="deleteShippingAddress(i)">
                    x
                </button>
            </div>
        </li>
    </mat-list>

    
    <!-- <h4>Credit Cards: </h4>
    <li *ngFor="let creditCard of buyerInfo.creditCards; let i = index">
        <div><span>Credit Card </span>{{i}}</div>
        <div>
            <label for="buyerInfo-cardName"> Card's Holder Name: </label>
            <input id="buyerInfo-cardName" [(ngModel)]="creditCard.holderName" placeholder="holder name">
        </div>
        <div>
            <label for="buyerInfo-cardNum"> Card's Number: </label>
            <input id="buyerInfo-cardNum" [(ngModel)]="creditCard.cardNumber" placeholder="cc number">
        </div>
    </li>   

    <div>
        <p>New Credit Card: </p>
        <label for="new-holderName">New Holder Name: </label>
        <input id="new-holderName" #newHolderName />
        <label for="new-cardNum">New CC Number: </label>
        <input id="new-cardNum" type="number" #newCCNum />

        <button type="button" class="add-button" (click)="appendCreditCard(newHolderName.value, newCCNum.value); newHolderName.value=''; newCCNum.value=''">
            Add Credit Card
          </button>
    </div> -->

    




    <!-- Route to view past orders in product form for this user-->
    <!-- Remove this temporary list of ids when route is added-->
    <h4>Past Order Ids:</h4>
    <mat-list>
        <li *ngFor="let orderId of buyerInfo.pastOrdersIds">
            Id: <a>{{ orderId }}</a>
        </li>
    </mat-list>

    <!-- Route to view items in cart in product form -->
    <!-- Remove this temporary list of ids when route is added-->
    <h4>Cart:</h4>
    <mat-list>
        <li *ngFor="let cartId of buyerInfo.cart">
            Id: <a>{{ cartId }}</a>
        </li>
    </mat-list>

    <!-- Route to view items in wishlist in product form-->
    <!-- Remove this temporary list of ids when route is added-->
    <h4>Wishlist:</h4>
    <mat-list>
        <li *ngFor="let productId of buyerInfo.wishlist">
            Id: <a>{{ productId }}</a>
        </li>
    </mat-list>

 </div>


 <button type="button" (click)="goBack()">go back</button>
<button type="button" (click)="save()">save</button>
