<div class="header">
  <h1>Instrument Estore</h1>
  <div class="right">
    <a *ngIf="this.url !== '/search'" class="search" href="/search">
      <img src="assets/search-icon.svg" alt="">
      <p>Search</p>
    </a>
    <a class="login-btn" *ngIf="this.url !== '/login' && !isLoggedIn"  href="/login">
      <p>Login</p>
    </a>
    <div class="user-profile">
      <a class="profile-btn" *ngIf="this.url !== '/login' && this.url !== '/logout' && isLoggedIn" href="/logout">
        <img src="assets/user-profile-icon.jpg" alt="user profile">
      </a>
      <p class="tool-tip">
        Logout
      </p>
    </div>
  </div>
</div>